@media(min-width: 630px) {
    fieldset {
        display: inline-block;
        vertical-align: top;
        margin: 1em 0;
        min-width: 200px;
        width: 45%;
    }

    .cores {
        position: static;
        padding: 0;
    }

        .cores label img {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 35%;
            max-height: 100%;
        }

        .cores label:after {
            position: static;
            float: left;
            margin-right: 10px;
        }

    .produto {
        position: relative;
        padding-left: 40%;
        font-size: 1.2em;
    }
}

@media(min-width: 500px) {
    .detalhes {
        font-size: 1.2em;
    }
}
