@import "helper/mixins";

label[for=verde]{
    &:after{
        @include bgcolor-left(#33CC66, 0px);
    }
}

label[for=rosa] {
    &:after{
        @include bgcolor-left(#FF6666, 60px);
    }
}

label[for=azul] {
    &:after{
        @include bgcolor-left(#6666FF, 120px);
    }
}

table {
    border-spacing: 0.2em;
    border-collapse: separate;
}

td {
    padding: 0.3em;
    &:first-child {
        font-style: italic;
    }
}

tr {
    &:nth-child(2n) {
        background-color: #CCC;
    }
}

thead {
    background-color: #999;

    th {
        font-weight: bold;
        padding: 0.3em 1em;
        text-align: center;
    }
}

.comprar {
    background: #91BD3C;
    color: #333;
    font-size: 1.4em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px #777;
    padding: 0.5em 1em;
    margin: 1em 0;
    @include border-display(none, block);
}

.cores {
    position: relative;
    padding-top: 90px;

    label {
        img {
            max-width: 100%;
            @include border-display(1px solid rgba(0,0,0,0.5), block);
        }
        &:after {
            content: '';
            box-sizing: border-box;
            position: absolute;
            top: 30px;
            transition: 1s;
            @include border-display(6px solid rgba(0,0,0,0),block);
            @include radius-hei-wid(50%, 50px, 50px);
        }

        &:hover {
            &:after {
                border: 6px solid rgba(0,0,0,0.1);
            }
        }
    }

    input[type=radio] {
            display: none;
        }
}

.cores input:not(:checked) + label img {
    display: none;
}

.cores input:checked + label:after {
    border: 6px solid rgba(0,0,0,0.2);
}

.detalhes {
    padding: 2em 0;

    h2 {
        @include fontsize-linehe(1.5em, 2);
    }

    p {
        margin: 1em 0;
        max-width: 36em;
        @include fontsize-linehe(1em, 1.5)
    }
}

.produto {
    margin-top: 2em;
    @include linehi-color(1.3, #333);
    h1 {
        font-size: 1.8em;
        font-weight: bold;
    }
    p {
        font-size: 1.2em;
        font-style: italic;
        margin-bottom: 1em;
    }
    legend {
        display: block;
        font: bold 0.9em/2.5 Arial;
        text-transform: uppercase;
    }
}

.produto-back {
    background-color: #F2F2F2;
    margin-top: 1em;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.tamanhos output {
    text-align: center;
    @include border-display(3px solid #666 ,inline-block);
    @include radius-hei-wid(50%, 44px, 44px);
    @include linehi-color(44px, #555);
}