%menu-busca-geral {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
}

%menu-busca-h2-form {
    margin: 10px;
}

%mob-busca-menu {
    margin-right: 0;
    width: 100%
}

%pause-play {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}

%pause-play-mobile{
    top: auto;
    right: auto;
    left: 10px;
    bottom: 10px;
}
